*.pyc
__pycache__
*.pyo
*.pyd
.Python
*.db
*.sqlite3
db.sqlite3
.env
.git
.gitignore
*.log
cron.log
.DS_Store
*.egg-info
dist
build
.eggs
*.egg
.tox
.coverage
htmlcov
.pytest_cache
.mypy_cache
staticfiles/
