requests
google-auth
google-auth-oauthlib
google-api-python-client
supabase
beautifulsoup4
openai
django
PyJWT
stripe
pytz
python-dotenv
djangorestframework
django-cors-headers
gunicorn
django-heroku
dj_database_url
honcho
feedparser
scikit-learn
numpy
spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
