requests
beautifulsoup4
openai
django
PyJWT
stripe
pytz
python-dotenv
djangorestframework
django-cors-headers
gunicorn
django-heroku
dj_database_url
honcho
feedparser
scikit-learn
numpy
thinc
hdbscan
sendgrid
firebase-admin
tenacity
google-generativeai
django-ratelimit
